* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	border: 1px solid red;
}

:root {
	--border-width: 7px;
	--border-width-thin: 5px;

	--components-size: 4rem;
	/* --bp-laptop:1105px; */
	/* --bp-tablet:780px; */
	/* --bp-phone:450px; */
}

.max-height {
	height: 100%;
}

body {
	background-color: var(--bg);
}

header.header {
	display: flex;
	width: 100%;
	height: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header);
}

main {
	color: var(--text);
}

.title {
	border: 3px solid red;
	margin: 2rem 10vw;
	padding: 0.75rem;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	border-radius: 25px;
	background-color: var(--title);
	color: var(--text);
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1em;
	color: var(--text);
}

.rounded-right {
	border-radius: 0 999px 999px 0;
}
.rounded-left {
	border-radius: 999px 0 0 999px;
}