* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	/* border: 2px solid purple */
}

header.header {
	display: flex;
	height: 4.2em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.max-height {
	height: 100%;
}

.logo-link {
	display: flex;
}

.logo-text {
	margin: auto 0px;
	padding: 0 1.2rem 0 0.8rem;
	align-content: center;
	width: 15rem;
	font-size: 2rem;
	font-weight: bold;
	font-style: italic;
	border-radius: 0 999px 999px 0;
	border: var(--border-width) solid;
	border-left: 0;
}

/* Combined hover state of Logo and Search Bar */
.logo-text:hover,
.search-bar:hover {
	border: var(--border-width) solid;
}

.logo-text:hover {
	border-left: 0;
}

.search-bar:hover {
	border-right: 0;
}

.logo-link,
.nav-links-list li a {
	text-decoration: none;
}

.nav-links-list li a:hover {
	background-color: var(--accent-hover);
}

.nav-links-list li:last-child a {
	border-radius: 0 999px 999px 0;
}

.nav-links-list li:first-child a {
	border-radius: 999px 0 0 999px;
}

.nav {
	height: 70%;
}

.nav-links-list {
	display: flex;
	font-size: 1.3rem;
	font-weight: bold;
	list-style: none;
    /* justify-content: space-between; */
	gap: var(--border-width);
	background-color: var(--header);
	border-radius: 999px 999px 999px 999px;
}

.nav-links-list li a {
	display: flex;
	padding: 0.75rem 1.3rem;
	align-items: center;
	border: var(--border-width-thin) solid var(--accentContrast);
}

.nav-links-list li a.active-nav-link {
	background-color: var(--accentContrast);
	border: var(--border-width-thin) solid var(--accent);
}

.search-bar {
	width: 15rem;
	font-size: larger;
	font-weight: bold;
	text-align: center;
	border: solid var(--accentContrast) var(--border-width);
	border-right: 0;
	border-radius: 999px 0 0 999px;
}

.title {
	margin: 1rem 5em;
	padding: 12px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	border-radius: 25px;
	background-color: var(--title);
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1em;
	color: var(--text);
}
