* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* border: 2px solid purple */
}

header.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    align-content: center;
    align-items: center;
    background-color: yellow;
    border-bottom: 3px red solid;
}

.logo,
.logo-link {
    display: flex;
    width: auto;
    height: 100%;
    background-color: violet;
}

.logo-img {
    width: auto;
    height: 100%;
}

.logo-text {
    margin: auto 0px auto 0.5rem;
    padding: 0.3rem;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    background-color: blue;
    color: yellow;
}

.logo-text:hover,
.logo-img:hover {
    border: solid red 3px;
}

/* .logo-text:focus, */
.logo-link,
.nav-links-list li a {
    text-decoration: none;
}

.nav-links-list {
    display: flex;
    height: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    list-style: none;
    gap: 4px;
    border: solid 4px blue;
    background-color: blue;
    align-content: center;
    align-items: center;
    
}
.nav-links-list li {
    height: 100%;
    align-content: center;
    align-items: center;
    border: none;
}
.nav-links-list li a {
    display: block;
    height: 100%;
    padding: 0.75rem;
    align-content: center;
    align-items: center;
    background-color: blue;
    color: yellow;
}
.nav-links-list li a:hover {
    background-color: red;
    color: white;
}

.search-bar {
    width: auto;
    height: 100%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    background-color: purple;
    color: white;
}
