:root {
	--text: #e0e0e0;
	--background: #080808;
	--header: #1a1031;
	--title: #342b3a;

	--accent: #362281;
	--accentLight: #8768f8;
	--accentDark: #1f144b;

	--hover: #8768f8;
}
/* Light Theme Overrides */
[data-theme="light"] {

	--text: hsl(0, 0%, 7%); /* Near black text */
	--background: hsl(257, 50%, 94%); /* Pure white background */
	--header: hsl(257 100%, 70%); /* Very light gray/blue header */
	--title: hsl(257, 80%, 88%); /* Subtle light title bg */
	--color: hsl(252, 58%, 19%);
	--accentLight: #0f0242;
	--accent: hsl(257, 95%, 84%);
	--accentDark: hsl(257, 75%, 55%);

	--hover: hsl(257, 75%, 45%);
}

body {
	background-color: var(--background);
}

header.header {
	display: flex;
	height: 4.2em;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1em;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header);
}

.rounded-right {
	border-radius: 0 999px 999px 0;
}
.rounded-left {
	border-radius: 999px 0 0 999px;
}

/* Assigning variable colors to element sets at once*/
/* Accent Color*/

.search-bar {
	background-color: var(--accent);
}

/* Accent-light Color*/
.search-bar::placeholder {
	color: var(--accentLight);
}

/* Text Color */
p,
h1,
h2,
h3,
h4,
h5,
h6,
.search-bar,
.title {
	color: var(--text);
}

/* Combined hover state of Logo and Search Bar */
.search-bar:hover {
	border: var(--border-width) solid var(--hover);
	color: var(--hover);
}
.search-bar:hover {
	border-right: 0;
}

.search-bar {
	width: 15rem;
	font-size: larger;
	font-weight: bold;
	text-align: center;
	border: solid var(--accentDark) var(--border-width);
	border-right: 0;
	border-radius: 999px 0 0 999px;
}

.title {
	margin: 1rem 5em;
	padding: 12px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	border-radius: 25px;
	background-color: var(--title);
}

p {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1em;
	color: var(--text);
}
