.anime-cards { transition: all 0.3s ease-in-out; }

.anime-card:hover {
    /* Use visual scaling, not layout resizing */
    transform: scale(1.05); 
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.2);
}
.anime-cards {
	display: flex;
	flex-wrap: wrap;
    justify-content: center;
	margin: 0px 9vw;
    gap: 1.5rem; 
	color: wheat;
	border: 2px solid blue;
}
.anime-img {
    width: 100%;
}

.anime-card {
	display: flex;
	width: 340px;
    list-style-position: inside;
	flex-direction: column;
	border: 2px solid red;
}
