[data-theme="light"] {
	a.active-nav-link {
		color: hsl(257, 100%, 95%);
	}
	nav ul li a:hover {
		background-color: var(--hover);
		color: var(--accent);
	}
}
:root {
	--text: #e0e0e0;
	--background: #080808;
	--header: #1a1031;
	--title: #342b3a;

	--accent: #362281;
	--accentLight: #8768f8;
	--accentDark: #1f144b;


    --nav-text: var(--accentLight);
    --nav-border: var(--accentDark);
    --nav-background: var(--accent);
    
    --nav-text-hover: var(--accent);
    --nav-border-hover: var();
    --nav-background-hover: var(--hover);
    
    --nav-text-active: var(--text);
    --nav-border-active: var(--accent);
    --nav-background-active: var(--accentDark);

}
[data-theme="light"] {
    --nav-text: var(--accentLight);
    --nav-border: var(--accentDark);
    --nav-background: var(--accent);
    
    --nav-text-hover: var(--accent);
    --nav-border-hover: var();
    --nav-background-hover: var(--hover);
    
    --nav-text-active: var(--text);
    --nav-border-active: var(--accent);
    --nav-background-active: var(--accentDark);
}
.nav {
    display: flex;
    height: 70%;
	gap: var(--border-width);
}

.nav a {
    display: flex;
	padding: 0.75rem 1.3rem;
	align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
	text-decoration: none;
	border: var(--border-width-thin) solid var(--nav-border);
	background-color: var(--nav-background);
	color: var(--nav-text);
}

nav.nav a:hover {
	color: var(--nav-text-hover);
	background-color: var(--nav-background-hover);
}
.nav a.active-nav-link {
    border: var(--border-width-thin) solid var(--nav-border-active);
	background-color: var(--nav-background-active);
}
