
.nav {
    display: flex;
    height: 70%;
	gap: var(--border-width);
}

.nav a {
    display: flex;
	padding: 0.75rem 1.3rem;
	align-items: center;
    font-size: 1.3rem;
    font-weight: bold;
	text-decoration: none;
	border: var(--border-width-thin) solid var(--nav-border);
	background-color: var(--nav-bg);
	color: var(--nav-text);
}

nav.nav a:hover {
	color: var(--nav-text-hover);
	background-color: var(--nav-bg-hover);
}
.nav a.active-nav-link {
    border-color: var(--nav-border-active);
    color: var(--nav-text-active);
	background-color: var(--nav-bg-active);
}
