.nav {
	display: flex;
	margin: auto 1em;
	height: 3em;
	gap: 0.3em;
}

.nav a {
	display: flex;
	padding: 0.75rem 1.3rem;
	align-items: center;
	font-size: 1.3rem;
	font-weight: bold;
	text-decoration: none;
	border: var(--border-width-thin) solid var(--nav-border);
	background-color: var(--nav-bg);
	color: var(--nav-text);
}

nav.nav a:hover {
	color: var(--nav-text-hover);
	background-color: var(--nav-bg-hover);
}
.nav a.active-nav-link {
	border-color: var(--nav-border-active);
	color: var(--nav-text-active);
	background-color: var(--nav-bg-active);
}
@media (max-width: 1105px) {
	:root {
		--border-width: 5px;
		--border-width-thin: 4px;
	}

	.logo {
		margin: 0px;
		margin-left: 0.7rem;
		padding: 0%;
		height: 3rem;
		font-size: clamp(1rem, calc(1rem + 1.2vw), 3rem);
		/* font-size: 1.83rem; */
		flex-basis: 30%;
		justify-content: center;
		padding-bottom: 2px;
		border: var(--border-width) solid var(--logo-border);
		border-radius: 0px;
		border-top-left-radius: 999px;
		border-bottom-left-radius: 999px;
	}

	.logo:hover {
		border: var(--border-width) solid var(--logo-border-hover);
	}
	.nav {
		flex: 1 1 auto;
		height: 3rem;
		margin: 0.5rem;
		margin-left: 5px;
		margin-right: 0.7rem;
	}
	.nav a {
		flex: 1 1 0%;
		padding: 0px 0px;
		font-size: clamp(0.6rem, calc(0.2rem + 2vw), 1.3rem);
		justify-content: center;
		border-width: var(--border-width);
		/* border: var(--border-width) solid var(--nav-border-active); */
		border-radius: 0px;
	}
	.nav a:last-child {
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
	}
}
@media (max-width: 770px) {
	* {
		border: 1px solid red;
	}
	.logo {
		display: none;
	}
	.nav {
		height: 7vw;
		margin:1vw;
		margin-bottom: 0;
		/* margin: clamp(1.2rem, calc(0.5rem+1vw), 1.7vw) !important; */
		gap: 1vw;
	}
	.nav a {
		border-width: 0.19rem;
		font-size: clamp(1rem, calc(1rem + 1.2vw), 3rem);
		height: clamp(2rem, calc(2rem + 3.2vw), 9rem);

		/* font-size: clamp(1rem, calc(1rem + 1.2vw), 1.3rem); */
	}
	.nav a:first-child {
		/* border-width: 0px; */
		border-top-left-radius: 999px;
		border-bottom-left-radius: 999px;
	}
}
