/* Accent-light Color*/
.search-bar::placeholder {
	color: var(--searchbar-placeholder);
}

/* Combined hover state of Logo and Search Bar */
.search-bar:hover {
	border: var(--border-width) solid var(--searchbar-border-hover);
	border-right: 0;
	color: var(--searchbar-hover);
}

.search-bar {
	width: 15rem;
	height: 4rem;
	font-size: larger;
	font-weight: bold;
	text-align: center;
	border: var(--border-width) solid var(--searchbar-border);
	border-right: 0;
	border-radius: 999px 0 0 999px;
	background-color: var(--searchbar-bg);
	color: var(--searchbar);
}
@media (max-width: 1105px) {
	* {
		border:none;
	}
	.search-bar {
		height: 3.2rem;
		margin: 0 0.7rem;
		margin-bottom: 0.7rem;
		flex-basis: 100%;
		border: var(--border-width) solid var(--searchbar-border);
		border-bottom-right-radius: 999px;
		border-top-right-radius: 999px;
	}
	.search-bar:hover {
		border: var(--border-width) solid var(--searchbar-border-hover);
	}
}

@media (max-width: 770px) {
/* * {	border: 1px solid red ;}
.logo {
	color: red;
	font-size: clamp(1rem, calc(1rem + 1vw), 3rem);

} */
 .search-bar {
	/* margin: 0.5rem; */
	/* margin: 0px 1rem 0.8rem ; */
	margin: 0 1vw 1vw;
	border-width: 0.2rem;
 }
 .search-bar:hover {
	border-width: 0.5vw;
 }
}