/* Accent-light Color*/
.search-bar::placeholder {
	color: var(--searchbar-placeholder);
}

/* Combined hover state of Logo and Search Bar */
.search-bar:hover {
	border: var(--border-width) solid var(--searchbar-border-hover);
	border-right: 0;
	color: var(--searchbar-hover);
}

.search-bar {
	width: 15rem;
	height: 4rem;
	font-size: larger;
	font-weight: bold;
	text-align: center;
	border: var(--border-width) solid var(--searchbar-border);
	border-right: 0;
	border-radius: 999px 0 0 999px;
	background-color: var(--searchbar-bg);
	color: var(--searchbar);
}
@media (max-width: 1105px) {
	* {
		border:none;
	}
	.search-bar {
		height: 3.2rem;
		margin: 0 0.7rem;
		margin-bottom: 0.7rem;
		flex-basis: 100%;
		border: var(--border-width) solid var(--searchbar-border);
		/* border-radius: 0px; */
		/* border-bottom-left-radius: 30px; */
		/* border-bottom-right-radius: 30px; */
		border-bottom-right-radius: 999px;
		border-top-right-radius: 999px;
	}
	.search-bar:hover {
		border: var(--border-width) solid var(--searchbar-border-hover);
	}
}
